<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" allowInsecureConnections="true" />
		<add key="ICC_Nuget_Repo" value="http://gtsnetsvr1:8080/tfs/Cibar/_packaging/ICC_Nuget_Repo/nuget/v3/index.json" allowInsecureConnections="true" />
		<add key="Evergreen.Web.Artifacts" value="http://gtsnetsvr1:8080/tfs/Cibar/_packaging/Evergreen.Web.Artifacts/nuget/v3/index.json" allowInsecureConnections="true" />
		<add key="Cib.Utils" value="http://gtsnetsvr1:8080/tfs/cibar/_packaging/Cib.Utils/nuget/v3/index.json" allowInsecureConnections="true" />
		<add key="FHL_Nuget_Artefact_Repo" value="http://gtsnetsvr1:8080/tfs/cibar/_packaging/FHL_Nuget_Artefact_Repo/nuget/v3/index.json" allowInsecureConnections="true" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="True" />
	</packageManagement>
</configuration>